<%# ハンバーガーメニュー %>
<input id="hamburger_menu" type="checkbox" />
<label for="hamburger_menu" class="open"><img class="about_hamburger_icon" src="/icon/hamburger_icon.png"></label>

<%# ハンバーガーメニューの中身 %>
<aside class="about_aside">
    <label for="hamburger_menu" class="close"><img class="about_hamburger_icon_close" src="/icon/hamburger_close_icon.png"></label>

    <nav class="hamburger_menu">
        <h2 class="map_menu_title">メニュー</h2>
        <% if @current_user %>
            <li>
                <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
            </li>
            <li>
                <%= link_to( "ペットマップ", "/maps") %>
            </li>
            <li>
                <%= link_to( "提案,意見する", "/posts/index") %>
            </li>
            <li>
                <%= link_to("ログアウト", "/logout", {method: :post})%>
            </li>
        <% else %>
            <li>
                <%= link_to( "ログイン", "/login") %>
            </li>
            <li>
                <%= link_to( "ペットマップ", "/maps") %>
            </li>
        <% end %>
    </nav>
</aside>
<div class="about_all">
    <%# タイトル %>
    <h1 class="about_title">ペットマップとは</h1>
    <div class="about_menu">
        <h2 class="about_menu_title_web">あなたにもペットにも楽しい便利な暮らしを<br>お届けしたい</h2>
        <h2 class="about_menu_title_res">あなたにもペットにも楽しい便利な暮らしをお届けしたい</h2>
        <p class="about_menu_contents">大切なペットと一緒に入ることができるお店を探すための地図アプリです<br>
        この地図アプリひとつで楽しい便利な暮らしを実現しよう
        </p>
        <img src="/about_background001_4.png">
        <%# できることの説明 %>
        <div class="about_contents">
            <h2 class="about_contents_title">ペットマップでできること</h2>
            <div class="about_contents_mov">
                <div class="mov_option">
                    <video class = "about_mov" src="/cando_1_3.mp4" autoplay playsinline muted loop></video>
                </div>
                <div class="mov_contents">
                    <h2 class="mov_contents_title">ペットと楽しく便利な生活を過ごそう</h2>
                    <p class="mov_contents_contents">ペットと一緒に入れるお店をペットマップのボタンを押すことで探すことができます</p>
                </div>
                <div class="mov_contents">
                    <h2 class="mov_contents_title">マイルートを設定しよう</h2>
                    <p class="mov_contents_contents">ペットと一緒に入れる飲食店、ホテル、動物病院やトリミング店などあなたがよく使う場所を好きな順番でカスタムできます</p>
                </div>
                <div class="mov_option">
                    <video class = "about_mov" src="/cando_2_2.mp4" autoplay playsinline muted loop></video>
                </div>
                <div class="mov_option">
                    <video class = "about_mov" src="/cando_3_1.mp4" autoplay playsinline muted loop></video>
                </div>
                <div class="mov_contents">
                    <h2 class="mov_contents_title">このサービスに対して意見、提案をしよう</h2>
                    <p class="mov_contents_contents">より良いサービスを目指すためにあなたの意見を必要としています</p>
                </div>
            </div>
            
            <div class="about_contents_smart_nav_1">
                <%= react_component('CanDoList') %>
            </div>
        </div>
    </div>
    <% if @current_user %>
    <% else %>
        <div class="recommend_login">
            <h2 class="recommend_login_title">さあ、はじめよう</h2>
            <div class="recommend_login_form">
                <li>
                    <%= link_to( "ログイン", "/login") %>
                </li>
                <li>
                    <%= link_to( "アカウント作成", "/signup") %>
                </li>
            </div>
        </div>
    <% end %>
</div>