<%# ハンバーガーメニュー %>
<input id="hamburger_menu" type="checkbox" />
<label for="hamburger_menu" class="open"><img class="about_hamburger_icon" src="/icon/hamburger_icon.png"></label>

<%# ハンバーガーメニューの中身 %>
<aside class="about_aside">
    <label for="hamburger_menu" class="close"><img class="about_hamburger_icon_close" src="/icon/hamburger_close_icon.png"></label>

    <nav class="hamburger_menu">
        <h2 class="map_menu_title">メニュー</h2>
        <% if @current_user %>
            <li>
                <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
            </li>
            <li>
                <%= link_to( "ペットマップ", "/maps") %>
            </li>
            <li>
                <%= link_to( "提案,意見する", "/posts/index") %>
            </li>
            <li>
                <%= link_to("ログアウト", "/logout", {method: :post})%>
            </li>
        <% else %>
            <li>
                <%= link_to( "ログイン", "/login") %>
            </li>
            <li>
                <%= link_to( "ペットマップ", "/maps") %>
            </li>
        <% end %>
    </nav>
</aside>
<div class="about_all">
    <%# タイトル %>
    <h1 class="about_title">ペットマップとは</h1>
    <div class="about_menu">
        <p class="about_menu_contens">ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
        <img src="/about_background001_1.png">
        <%# できることの説明 %>
        <div class="about_contents">
            <h2 class="about_contents_title">ペットマップでできること</h2>
            <div class="about_contents_web_nav">
                <section class="about_contents_nav_long_item">
                    <%= link_to image_tag("/sample_menu.png"), "/maps" %>
                    <div class="nav_item_title">
                        <div class="item_padding">
                            <%= link_to( "ペットマップあああああああああああ", "/maps") %>
                        </div>
                    </div>
                </section>
                <div class="about_contents_nav_short_items">
                    <section class="about_contents_nav_short_item">
                        <%= link_to image_tag("/sample_menu.png"), "/maps" %>
                        <div class="nav_item_title">
                            <div class="item_padding">
                                <%= link_to( "ペットマップあああああああああああ", "/maps") %>
                            </div>
                        </div>
                    </section>
                    <section class="about_contents_nav_short_item">
                    </section>
                    <section class="about_contents_nav_short_item">
                    </section>
                    <section class="about_contents_nav_short_item">
                    </section>
                </div>
            </div>

            <div class="about_contents_smart_nav">
                <div class="about_contents_nav_items">
                    <section class="about_contents_nav_item">
                        <%= link_to image_tag("/sample_menu.png"), "/maps" %>
                        <div class="nav_item_title">
                            <div class="item_padding">
                                <%= link_to( "ペットマップあああああああああああ", "/maps") %>
                            </div>
                        </div>
                    </section>
                    <section class="about_contents_nav_item">
                        <%= link_to image_tag("/sample_menu.png"), "/maps" %>
                        <div class="nav_item_title">
                            <div class="item_padding">
                                <%= link_to( "ペットマップあああああああああああ", "/maps") %>
                            </div>
                        </div>
                    </section>
                    <section class="about_contents_nav_item">
                        <%= link_to image_tag("/sample_menu.png"), "/maps" %>
                        <div class="nav_item_title">
                            <div class="item_padding">
                                <%= link_to( "ペットマップあああああああああああ", "/maps") %>
                            </div>
                        </div>
                    </section>
                    <section class="about_contents_nav_item">
                        <%= link_to image_tag("/sample_menu.png"), "/maps" %>
                        <div class="nav_item_title">
                            <div class="item_padding">
                                <%= link_to( "ペットマップあああああああああああ", "/maps") %>
                            </div>
                        </div>
                    </section>
                    <section class="about_contents_nav_item">
                        <%= link_to image_tag("/sample_menu.png"), "/maps" %>
                        <div class="nav_item_title">
                            <div class="item_padding">
                                <%= link_to( "ペットマップあああああああああああ", "/maps") %>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const init = function(){
            let items = document.querySelectorAll('section');
            for (let i = 0; i < items.length; i++){
                items[i].style.background = randomColor({luminosity: 'light'});
            }
            cssScrollSnapPolyfill()
        }
        init();
    </script>
    <% if @current_user %>
    <% else %>
        <div class="recommend_login">
            <h2 class="recommend_login_title">さあ、はじめよう</h2>
            <div class="recommend_login_form">
                <li>
                    <%= link_to( "ログイン", "/login") %>
                </li>
                <li>
                    <%= link_to( "アカウント作成", "/signup") %>
                </li>
            </div>
        </div>
    <% end %>
</div>