<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="serch_box">
        <%# ハンバーガーメニュー %>
        <input id="hamburger_menu" type="checkbox" />
        <label for="hamburger_menu" class="open"><img class="hamburger_icon" src="/icon/hamburger_icon.png"></label>

        <%# ハンバーガーメニューの中身 %>
        <aside>
            <label for="hamburger_menu" class="close"><img class="hamburger_icon" src="/icon/hamburger_close_icon.png"></label>

            <nav class="hamburger_menu">
                <% if @current_user %>
                    <li>
                        <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
                    </li>
                    <li>
                        <%= link_to( "ペットマップとは", "/maps/about") %>
                    </li>
                    <li>
                        <%= link_to( "提案,意見する", "/posts/index") %>
                    </li>
                    <li>
                        <%= link_to("ログアウト", "/logout", {method: :post})%>
                    </li>
                <% else %>
                    <li>
                        <%= link_to( "ログイン", "/login") %>
                    </li>
                    <li>
                        <%= link_to( "ペットマップとは", "/maps/about") %>
                    </li>
                <% end %>
            </nav>
        </aside>

        <%# 検索バー %>
        <input id="address" type="textbox"　value="" placeholder="ここで検索してください">

        <%# buttonをクリックしたらSearchGoを実行 %>
        <input id="address_button" type="image"  src="/icon/serch_icon.png" onclick="SearchGo()">
    </div>

    <%# アイコンをクリックするとroute.function_nameを実行 %>
    <div class="search">
        <%# ユーザの認識 %>
        <% if @current_user %>
            <div class="search_menu">
                <li>
                    <input class="search_button" type="image"  src="<%= "/route_images/#{@route1.image_name}" %>" onclick="<%= @route1.function_name %>()">
                </li>
                <li class="search_menu_text"><%= @route1.route_name %></li>
            </div>
            <div class="search_menu">
                <li>
                    <input class="search_button" type="image"  src="<%= "/route_images/#{@route2.image_name}" %>" onclick="<%= @route2.function_name %>()">
                </li>
                <li class="search_menu_text"><%= @route2.route_name %></li>
            </div>
            <div class="search_menu">
                <li>
                    <input class="search_button" type="image"  src="<%= "/route_images/#{@route3.image_name}" %>" onclick="<%= @route3.function_name %>()">
                </li>
                <li class="search_menu_text"><%= @route3.route_name %></li>
            </div>
        <% else %>
            <div class="search_menu">
                <li>
                    <input class="search_button" type="image"  id="Restaurant" src="/icon/restaurant.png">
                </li>
                <li class="search_menu_text">飲食店</li>
            </div>
            <div class="search_menu">
                <li>
                    <input class="search_button" type="image"  id="Hospital" src="/icon/hospital.png">
                </li>
                <li class="search_menu_text">病院</li>
            </div>
            <div class="search_menu">
                <li>
                    <input class="search_button" type="image"  id="Trimming" src="/icon/_trimming.png">
                </li>
                <li class="search_menu_text">トリミング</li>
            </div>
        <% end %>
    </div>
    <div class="reset_position">
        <li>
            <input class="search_button" type="image"  src="/icon/position.png" onclick="initMap()">
        </li>
        <li class="search_menu_text">現在地</li>
    </div>

    <div class="gnavi">
        <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">
        <img class="gnavi_img" src="https://api.gnavi.co.jp/api/img/credit/api_265_65.gif" width="265" height="65" border="0" alt="グルメ情報検索サイト　ぐるなび">
        </a>
    </div>

    <div id="map" class="map">
    </div>



    <script>

    let map;
    let geocoder;
    let places;
    let marker;

    //地図の生成
    function initMap(){       
        var initPos = new google.maps.LatLng(0,0);

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: initPos,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        //現在地の取得
        let a = navigator.geolocation.getCurrentPosition(get_pos);
        function get_pos(position) {
            let lat = position.coords.latitude;　// 緯度
            let lng = position.coords.longitude; // 経度
            let latLng = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({　// 現在地の位置設定とアイコンのカスタマイズ
                position: LatLng,
                map: map,
                icon: {
                    url: "/icon/me_marker.png",
                    scaledSize: new google.maps.Size(29.4, 40)
                }
            });　// 地図の中央に現在地を表示する
            map.setCenter(latLng);
        }

        // 飲食店の検索
        const Restaurant = document.getElementById("Restaurant");
        Restaurant.addEventListener("click", function(){
            map.addListener(Restaurants());
        });

        // 動物病院の検索
        const Hospital = document.getElementById("Hospital");
        Hospital.addEventListener("click", function(){
            map.addListener(Hospitals());
        });

        // 動物病院の検索
        const Trimming = document.getElementById("Trimming");
        Trimming.addEventListener("click", function(){
            map.addListener(Trimmings());
        });

        map.panTo(map.getCenter());
    }

    function Restaurants(){

        //現在地の取得
        let a = navigator.geolocation.getCurrentPosition(get_pos);
        function get_pos(position) {
            let lat = position.coords.latitude;　// 緯度
            let lng = position.coords.longitude; // 経度
            let latLngs = new google.maps.LatLng(lat, lng);
            $.ajax({
                type : "get",
                url　: "https://api.gnavi.co.jp/RestSearchAPI/v3/?keyid=ff6b15a9e19b5a50c29261914d61ec7e&with_pet=1&latitude="+
                        lat+"&longitude="+lng+"&range=5&category_l=RSFST20000,RSFST18000",  // ぐるなびの情報を取得
                dataType : 'json',
                success　: function(json){
                    let num_shop = json.rest.length;
                    for( let i=0; i < num_shop; i++){
                    console.log(json.rest[i].url);
                    var latLng = new google.maps.LatLng(json.rest[i].latitude, json.rest[i].longitude); // 検索情報の経緯度
                    marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                        icon: {
                            url: "/icon/restaurant_marker.png",
                            scaledSize: new google.maps.Size(32, 45)
                        },
                        url: json.rest[i].url,
                    });
                    google.maps.event.addListener(marker, 'click', (function(url){
                        return function(){ location.href = url; };
                    })(json.rest[i].url));
                    $('<li class="each-shop"><i class="fas fa-map-marker fa-3x"></i><span class="icon">'+
                        String(i+1) + '</span><a href="' + json.rest[i].url + '"><img class="shop-img" src=' +
                        json.rest[i].image_url.shop_image1 + '><span class="shop-content"><span class="shop-name">' +
                        String(i+1) + " " + json.rest[i].name + '</span><span class="time">営業時間：' + json.rest[i].opentime +
                        '<</span></span></a></li>').appendTo('#shop-list');
                    }
                },
                error: function(json){
                    console.log("error")
                }
            }
            );
        }
    }
        
        // 入力キーワードと表示範囲を設定
        function SearchGo() {
            var latLng = new google.maps.LatLng(0,0);
            var mapOptions = {
                center : latLng,
                zoom: 5,
                mapTypeId : google.maps.MapTypeId.ROADMAP
            };
            // #map_canva要素にMapクラスの新しいインスタンスを作成
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            service = new google.maps.places.PlacesService(map);
            // input要素に入力されたキーワードを検索の条件に設定
            var myword = document.getElementById("address");
            var request = {
                query : myword.value,
                radius : 10000,
                location : map.getCenter()
            };
            service.textSearch(request, result_search);
        }

        // 動物病院を検索
        function Hospitals() {
            service = new google.maps.places.PlacesService(map);
            var request = {
                query : "動物病院",
                radius : 10000,
                location : map.getCenter()
            };
            service.textSearch(request, hospital_result_search);
        }



        // Hospitalの検索の結果を受け取る
        function hospital_result_search(results, status) {
            var bounds = new google.maps.LatLngBounds();
            for(var i = 0; i < results.length; i++){
                createMarker({
                    position : results[i].geometry.location,
                    text : results[i].name + "<br>" +
                            results[i].name,
                    map : map,
                    icon: {
                        url: "/icon/hospital_marker.png",
                        scaledSize: new google.maps.Size(32, 45)
                    }
                });
                bounds.extend(results[i].geometry.location);
            }
            map.fitBounds(bounds);
        }

        //トリミングを検索
        function Trimmings() {
            service = new google.maps.places.PlacesService(map);
            var request = {
                query : "トリミング",
                radius : 10000,
                location : map.getCenter()
            };
            service.textSearch(request, trimming_result_search);
        }

        // Hospitalの検索の結果を受け取る
        function trimming_result_search(results, status) {
            var bounds = new google.maps.LatLngBounds();
            for(var i = 0; i < results.length; i++){
                createMarker({
                    position : results[i].geometry.location,
                    text : results[i].name,
                    map : map,
                    icon: {
                        url: "/icon/trimming_marker.png",
                        scaledSize: new google.maps.Size(32, 45)
                    }
                });
                bounds.extend(results[i].geometry.location);
            }
            map.fitBounds(bounds);
        }
        
        // 検索の結果を受け取る
        function result_search(results, status) {
            var bounds = new google.maps.LatLngBounds();
            for(var i = 0; i < results.length; i++){
                createMarker({
                    position : results[i].geometry.location,
                    text : results[i].name,
                    map : map
                });
                bounds.extend(results[i].geometry.location);
            }
            map.fitBounds(bounds);
        }

        function mapCenter(){
            centerLatlng = map.getCnter();

            return centerLatlng;
        }
        
        // 該当する位置にマーカーを表示
        function createMarker(options) {
            // マップ情報を保持しているmapオブジェクトを指定
            options.map = map;
            // Markerクラスのオブジェクトmarkerを作成
            var marker = new google.maps.Marker(options);
            // 各施設の吹き出し(情報ウインドウ)に表示させる処理
            var infoWnd = new google.maps.InfoWindow();
            infoWnd.setContent(options.text);
            // addListenerメソッドを使ってイベントリスナーを登録
            google.maps.event.addListener(marker, 'click', function(){
                infoWnd.open(map, marker);
            });
            return marker;
        }
        
        // ページ読み込み完了後、Googleマップを表示
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
    <%# Googlemap APIの取得 %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB87mkMD4fPhUltHTMmsdkUYzzyL0WoOtI&callback=initMap&libraries=places" async defer></script>
    
</body>
