<div class="main_posts">
    <%# ハンバーガーメニュー %>
    <div class="hamburger">
        <input id="hamburger_menu" type="checkbox" />
        <label for="hamburger_menu" class="open"><img class="hamburger_icon" src="/icon_svg/hamburger_icon2.svg"></label>

        <%# ハンバーガーメニューの中身 %>
        <aside>
            <div class="hamburger_nav">
                <label for="hamburger_menu" class="close"><img class="hamburger_icon" src="/icon_svg/hamburger_close_icon.svg"></label>

                <nav class="hamburger_menu">
                    <h2 class="menu_title">メニュー</h2>
                    <% if @current_user %>
                        <li>
                            <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
                        </li>
                        <li>
                            <%= link_to( "ペットマップ", "/maps") %>
                        </li>
                        <li>
                            <%= link_to( "ペットマップとは", "/maps/about") %>
                        </li>
                        <li>
                            <%= link_to("ログアウト", "/logout", {method: :post})%>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to( "ログイン", "/login") %>
                        </li>
                        <li>
                            <%= link_to( "ペットマップとは", "/maps/about") %>
                        </li>
                    <% end %>
                </nav>
            </div>
        </aside>
    </div>

    <%# サイドメニュー %>
    <div class="maps_menu">
        <h2 class="menu_title">メニュー</h2>
        <li>
            <%= link_to image_tag("/icon_svg/mypage.svg"), "/users/#{@current_user.id}" %>
            <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
        </li>
        <li>
            <img src="/icon_svg/mypage.svg" class="logout_img">
            <%= link_to("ログアウト", "/logout", {method: :post})%>
        </li>
        <li>
            <%= link_to image_tag("/icon_svg/map.svg"), "/maps" %>
            <%= link_to( "ペットマップ", "/maps") %>
        </li>
        <li>
            <%= link_to image_tag("/icon_svg/map.svg"), "/maps/about" %>
            <%= link_to( "ペットマップとは", "/maps/about") %>
        </li>
    </div>
    <div class="main_posts_index">
        <div class="post_top">
            <h1 class="posts_title">提案, 意見する</h1>
            <p class="posts_contents">サービス向上のための提案, 意見などございましたらしていただけますと幸いです<p>
        </div>
        <div class="containers">
            <% @posts.each do |post| %>
            <div class="posts_index_item">
                <div class = posts_index_contents>
                <%= link_to(post.content, "/posts/#{post.id}") %>        <%# 提案、意見内容、クリックで詳細ページ %>
                </div>
            </div>
            <% end %>
        </div>
    

        <%# 提案 %>
        <div class="posts_new">
            <div class="new_container">
                <%= form_tag("/posts/create", {multipart: true}) do %>
                    <div class="form">
                        <h2 class="posts_new_title">提案内容</h2>
                        <div class="form_body">
                        <% @post.errors.full_messages.each do |message| %>        <%# エラーメッセージ %>
                        <div class="form-error">
                            <%= message %>
                        </div>
                        <% end %>
                        <textarea class="posts_new_content" name="content"><%= @post.content%></textarea>        <%# 提案内容の入力 %>
                        <input class="input_button" type="submit" value="送信">
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
