<div>
    <div class="main_routes_index">
        <h1>ルート</h1>
        <div class="containers">
            <% @routes.each do |route| %>
            <div class="routes_index_item">
                <img src = <%= "/route_images/#{route.image_name}"%>>
                <%= link_to(route.route_name, "/routes/#{route.id}") %>
                <%= route.function_name %>
            </div>
            <% end %>
        </div>
    


        <div class="routes_new">
            <div class="new_container">
                <%= form_tag("/routes/create", {multipart: true}) do %>
                    <div class="form">
                        <h2 class="routes_new_title">ルート作成</h2>
                        <div class="form_body">
                        <% @route.errors.full_messages.each do |message| %>
                        <div class="form-error">
                            <%= message%>
                        </div>
                        <% end %>
                        <p>画像</p>
                        <input class = "posts-new-image" name="image" type="file">
                        <textarea class="routes_new_route_name" name="route_name"><%= @route.route_name%></textarea>
                        <textarea class="routes_new_route_name" name="function_name"><%= @route.function_name%></textarea>
                        <input class="input_button" type="submit" value="送信">
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>