<!DOCTYPE html>
<html>
  <head>
    <title>PetmapApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# ファビコン %>
    <link rel="icon" href="/favicon.ico">
    <%# スマホ用アイコン %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  </head>

  <body>
    <%# スマホ画面時のタブバー %>
    <div class="bottom_nav">
      <div class="bottom_nav_opp">
        <nav class="nav_menu">
          <%# ユーザの認識 %>
          <% if @current_user %>
            <div class="menu_item">   <%# マイページのアイコン %>
              <%# ページの認識 %>
              <% if current_page?("/users/#{@current_user.id}") or current_page?("/users/#{@current_user.id}/edit")%>
                <li>
                  <%= link_to image_tag("https://s4.aconvert.com/convert/p3r68-cdx67/axo1f-degd0.svg"), "/users/#{@current_user.id}" %>
                </li>
              <% else %>
                <li>
                  <%= link_to image_tag("https://s4.aconvert.com/convert/p3r68-cdx67/a020y-oyheg.svg"), "/users/#{@current_user.id}" %>
                </li>
              <% end%>
                <li>
                  <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
                </li>
            </div>
            <div class="menu_item">   <%# ペットマップのアイコン %>
              <%# ページの認識 %>
              <% if current_page?(controller: "maps", action:"map") or current_page?(controller: "maps", action:"index") or current_page?(controller: "maps", action:"about") %>
                <li>
                  <%= link_to image_tag("https://s4.aconvert.com/convert/p3r68-cdx67/as8a7-ko918.svg"), "/maps" %>
                </li>
              <% else %>
                <li>
                  <%= link_to image_tag("https://s4.aconvert.com/convert/p3r68-cdx67/atpgg-z05pz.svg"), "/maps" %>
                </li>
              <% end %>
                <li>
                  <%= link_to( "ペットマップ", "/maps") %>
                </li>
            </div>
            <div class="menu_item">   <%# 提案のアイコン %>
              <%# ページの認識 %>
              <% if current_page?(controller: "maps", action:"index") or current_page?(controller: "maps", action:"map") or current_page?(controller: "maps", action:"about") or current_page?(controller: "routes", action:"index")%>
                <li>
                  <%= link_to image_tag("https://s4.aconvert.com/convert/p3r68-cdx67/as66c-oujy5.svg"), "/posts/index" %>
                </li>
              <% else %>
                <%# ページの認識 %>
                <% if current_page?(controller: "posts", action:"index") or current_page?(controller: "posts", action:"show") or current_page?(controller: "posts", action:"edit")%>
                  <li>
                    <%= link_to image_tag("https://s4.aconvert.com/convert/p3r68-cdx67/ajd6x-cnlxi.svg"), "/posts/index" %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to image_tag("https://s4.aconvert.com/convert/p3r68-cdx67/as66c-oujy5.svg"), "/posts/index" %>
                  </li>
                <% end %>
              <% end %>
                <li>
                  <%= link_to( "提案する", "/posts/index") %>
                </li>
            </div>
          <% else %>
            <%# ログイン前のタブバー %>
            <div class="menu_item_off">
            </div>
          <%end%>
        </nav>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
